###############################
Makefile*
#[Dd]ebug*/
#[Rr]elease*/
*.[Dd]ebug
*.[Rr]elease
build*/
app*/
clientARM*/
bin*/
lib*/
temp*/

###############################
*.dll
*.a
*.o
*.so
*.exe
*.zip
*.log
*.ini

###############################
moc_*
ui_*
qrc_*
log.*

###############################
*.user*
*.config
*.files
*.includes
*.creator
*.autosave
.qmake.cache
.qmake.conf
Thumbs.db
*~
~*

###############################
*.vcxproj*
*.sln
*.sdf
*.suo
